/* Footer */
footer {
    width: 100%;
    background-color:var(--primary); /* Color primario de tu tema (reemplaza var(--primary) por el valor real) */
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;

  
}



.footer-container {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    display: flex;
 
    justify-content: left;
    align-items: left;  
    letter-spacing: 1px;
    line-height: 1.5;


    /*    max-width: 1200px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
   
    margin: 0 auto;
    flex-wrap: wrap; */
}

.footer-column {
   
    flex: 1;
    min-width: 200px;
}

.footer-column h2 {
    
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 10px;
}

.footer-column p,
.footer-column a {
    font-size: 1rem;
    color: #ffffff;
    text-decoration: none;
}

.footer-column.info ul {
    list-style: none;
    padding: 0; /* Añadimos padding: 0 para evitar márgenes no deseados */
}

.footer-column a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .footer-container {
        flex-direction: column;
        gap: 15px;
    }
}