 .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;

  position: relative;
  z-index: 1;

}


.navbar-container {
  display: flex;
  align-items: center;
  width: 100%;  
  justify-content: center;
  font-weight: 700;
} 

.nav-links {
  display: flex;
  gap: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
align-items: center;



}

.nav-links a {
  white-space: nowrap;
  /* flex:1 1 0; */
  /* color: var(--primary); */
  color:#333;
  text-decoration: none;
  font-size: 1rem;
/*   padding: 8px 12px; */
  border-radius: 5px;
  transition:all 0.3s ease, transform 0.3s ease;
}

.nav-links a:hover {
   background-color: var(--secondary); 
  transform: translateY(-2px);
}

/* Estilo para el enlace "Panel de Admin" */
.nav-links .admin-panel-link {
  color: var(--primary);
  text-decoration: none;
  font-size: 1rem;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.nav-links .admin-panel-link:hover {
  background-color: var(--secondary);
  transform: translateY(-1px);
}

.profile {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  border-radius: 10px;
  /* background-color: rgba(255, 255, 255, 0.1); */
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.profile:hover {
  background-color: var(--secondary);
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile a {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
}

.user-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid var(--secondary);
}

.profile p {
  margin: 0;
  font-size: 1rem;
  /* color: var(--primary); */
  color:#333;
}

.menu-btn {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.menu-btn:hover {
  background-color: var(--secondary);
}

.cart-icon {
  width: 45px;
  height: 45px;
}

.carrito {
  position: relative;
  display: inline-block;
  padding: 2px;
  border-radius: 10px;
  /* background-color: rgba(255, 255, 255, 0.1); */
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.carrito:hover {
  background-color: var(--secondary);
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart-number {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color:var(--primary);
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 50%;
  display: inline-block;
  min-width: 20px;
  text-align: center;
}


/* Media Query para pantallas menores a 600px */
@media (max-width: 860px) {
  .menu-btn {
    display: block;
    /* color: var(--primary); */
    color: #333;
    align-self: center;
    margin-bottom: 0;
    
 
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 90px; /* Ajustado para que no se superponga con el header */
    left: 0;
    width: 100%;
    align-items: center;
    background-color: var(--secondary);
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links a:hover{
      color:white;
  }

  .nav-links a,
  .nav-links .admin-panel-link {
    padding: 10px;
    width: 100%;
    text-align: center;
  }

  .nav-links .admin-panel-link {
    color: var(--primary);
  }

  .nav-links .admin-panel-link:hover {
    background-color: var(--secondary);
    color: white;
  }
} 
/* Media Query para pantallas menores a 768px */
@media (max-width: 600px) {
  .menu-btn {
    display: block;
    /* color: var(--primary); */
    color: #333;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 150px; /* Ajustado para que no se superponga con el header */
    left: 0;
    width: 100%;
    align-items: center;
    background-color: var(--secondary);
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .nav-links a:hover{
    color:white;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links a,
  .nav-links .admin-panel-link {
    padding: 10px;
    width: 100%;
    text-align: center;
  }

  .nav-links .admin-panel-link {
    color: var(--primary);
  }

  .nav-links .admin-panel-link:hover {
    background-color: var(--secondary);
    color: white;
  }
}

