#root {
  --primary: #0157CA;
  --secondary: #6CAAF1;  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
  /* outline: 1px solid red; */
}

.primary-button {
  background-color: #0157CA;
}

.primary-button:hover {
  background-color: #6CAAF1;
}